*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../imgs/matbiec.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.container{
    width: 350px;
    height: 420px;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px 0px 80px 40px;
    overflow: hidden;
}
form{
    text-align: center;
}
input[type='Email'],input[type='password']{
    padding: 10px 20px;
    font-size: 20px;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    margin-bottom:30px ;
}
input[type='submit']{
    padding: 10px 20px;
    width: 80%;
    font-size: 20px;
    color: #fff;
    background: #2980b9;
    border: none;
    border-radius: 15px;
    margin-bottom: 30px;
    transition: .5s;
}
input[type='submit']:hover{
    background: yellow;
}
h3{
    color:#fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Zen Kurenaido', sans-serif;
padding: 0 40px;
}
a{
    color: #fff;
}