*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: url(../imgs/photo-1504280645497-00afe6a47e43.jfif);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position:center ;
    animation: light 6s linear infinite;
}
@keyframes light {
    10%{
        filter: brightness(90%);
    }
    30%{
        filter: brightness(150%);
    }
    50%{
        filter: brightness(200%) ;
    }
    55%{
        filter: brightness(150%);
    }
    60%{
        filter: grayscale(10%);
    }
    70%{
        filter:grayscale(60%);
    }
    100%{
        filter:grayscale(150%)
    }
}
.road{
    position: absolute;
    top:50%;
    left: 0%;
    width: 100%;
    height: 400px;
    background:#525252;
    transform: rotateX(85deg);
}
.road .sub{
    width: 100%;
    height: 50px;
    background: linear-gradient(to right,#fff 0%,#fff 70%,#525252 70%,#525252 100%);
    background-size:100px;
    position: absolute;
    top:50%;
    left: 0%;
    transform: translateY(-50%);
    animation: road .3s linear infinite;
}
@keyframes road{
    0%{
        background-position: 0;
    }
    100%{
        background-position: 100px;
    }
}
.contain{
    position: absolute;
    top:65%;
    left: 80%;
}
.contain img:nth-child(1){
    width: 200px;
    height: 100px;
    animation: car .3s linear infinite;
}
.contain img:nth-child(2){
    position: absolute;
    top:56px;
    left:21px;
    height: 36px;
    animation: wheel .3s linear infinite;
}
.contain img:nth-child(3){
    position: absolute;
    top:56px;
    right:15px;
    height: 36px;
    animation: wheel .3s linear infinite;
}
@keyframes wheel {
    100%{
        transform: rotate(-360deg);
    }
    
}
@keyframes car {
    100%{
        transform: translateY(1px);
    }
    
}
.tree{
    position: absolute;
    top:24%;
    left:35%;
   
}
.sun{
    width: 100px;
    height: 100px;
    background: linear-gradient(#FFCC00,#FFFF00);
    border-radius: 100px;
    position: absolute;
    top:20%;
    left: -20%;
    animation: sun 6s linear infinite  ;
}
@keyframes sun {
  10%{
      top: 20%;
      left: -5%;
  }
  100%{
        top: -10%;
        left: 40%;
  }

}  
