*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
#head{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg,#845EC2,#D65DB1,#FF6F91,#FF9671,#FFC75F,#F9F871);
}
#head header{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    position: relative;
}
#head header .abc{
    text-decoration: none;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Zen Kurenaido', sans-serif;   
    font-weight: bolder;
    
}
#head header ul {
    display: flex;
    list-style: none;
}
#head header ul  li a{
    text-decoration: none;
    color: #fff;
    margin-left: 40px;
    
    font-family: 'Oswald', sans-serif;
}
#head .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(157deg,#00c6a7,#1e4d92);
    clip-path: circle(50% at 100% 0%);
}
#head .contain{
    position: relative;
    display: flex;
    padding: 50px;
}
#head .contain .textBox{
    width: 50%;
    text-align: center;
    padding: 100px ;
    font-family: 'Oswald', sans-serif;
    
}
#head .contain .textBox a{
    text-decoration: none;
    background: linear-gradient(45deg,#00c6a7,#1e4d92);
    padding: 10px 10px;
    display: block;
    margin-top: 20px;
    margin-left: 35%;
    width: 30%;
    color: #000;
    font-family: 'Oswald', sans-serif;
}
#head .contain .slide{
    width: 50%;
    text-align: center;
}
#head .social_icon {
    position: absolute;
    top:90%;
    left: 10%;
    display: flex;
    list-style: none;
}
#head .social_icon  a{
    color:#34ace0;
    background: white;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    display: block;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    transition: .5s;
    box-shadow: 6px 8px 6px #474787;
}
#head .social_icon a:hover{
    background: linear-gradient(-57deg,#00C6A7,#1E4D92);
    color:#fff;
    transform: translateY(-10px);
    box-shadow: 0px 0px 0px #474787;
}
#head .doimau{
    position: absolute;
    top: 13%;
    right: 1%;
    list-style: none;
}
#head .doimau div{
    width: 30px;
    height: 30px;
    background: #fff;
    margin-left: 5px;
    display: block;
    top:20%;
    right: 5%;
    margin-top: 20px;
    border-radius: 50px;
}
#head .doimau .doimau1{
    background: #1e4d92;
}
#head .doimau .doimau2{
    background: #FF9671;
}
#head .doimau .doimau3{
    background: #daf106;
}
#head .doimau .doimau4{
    background: #ec830aab;
}



#namkun {
    background: #00c6a7;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

#namkun .contain1{
    background: #0a3d62;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 
    100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

    width: 49.5%;
    min-height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:0%;
    
}
#namkun .contain{
    width:50%;
    background: linear-gradient(57deg,#00C6A7,#1E4D92);
    height: 300px;
    position: relative;
    box-shadow: 6px 5px 7px #1f2a9bd8;
    overflow: hidden;
}
#namkun .contain .card{
    width: 60%;
    height: 40%;
    padding: 20px 20px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 20%;
    transition: 2s;
    opacity: 0;
}
#namkun .contain span:nth-child(1){
    background: linear-gradient(to right,transparent,#0f24f9);
    width: 100%;
    height: 5px;
    display: block;
    position: absolute;
    top:0;
    left: 0;
    animation: show1 2s linear infinite;
    
}
@keyframes show1 {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(400px);
    }
    
}
#namkun .contain span:nth-child(2){
    background: linear-gradient(to right,#0f24f9,transparent);
    width: 100%;
    height: 5px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: show2 2s linear infinite;
    
}
@keyframes show2 {
    0%{
        transform: translateX(400px);
    }
    100%{
        transform: translateX(0px);
    }
    
}
#namkun .contain span:nth-child(3){
    background: linear-gradient(to top,#0f24f9,transparent);
    width: 5px;
    height: 100%;
    display: block;
    position: absolute;
    top:0;
    right: 0;
    animation: show3 2s linear infinite;
    animation-delay: 1s;
    
    
}
@keyframes show3 {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(400px);
    }
    
}

#namkun .contain span:nth-child(4){
    background: linear-gradient(to bottom,#0f24f9,transparent);
    width: 5px;
    height: 100%;
    display: block;
    position: absolute;
    top:0;
    left: 0;
    animation: show4 2s linear infinite;
    animation-delay: 1s;
    
}
@keyframes show4 {
    0%{
        transform: translateY(200%);
    }
    100%{
        transform: translateY(0px);
    }
    
}
#namkun .contain:hover .card{
    left: 0;
    opacity: 1;
}
#namkun .contain .card a{
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    padding: 10px 10px ;
    margin-top: 10px;
    border-radius: 20px;
}
#namkun .contain:before{
    content: ' ';
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    background: linear-gradient(57deg,#1ECBF4,#2ed573);
    clip-path: circle(25% at 50% 50%);
    transition: 2s;
}
#namkun .contain:hover::before{
    clip-path: circle(100% at 50% 50%);
}
#namkun .contain img{
    position: absolute;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 2s;
}
#namkun .contain:hover img{
    transform: scale(1.5);
    top:35%;
    left:40%;
}
#namkun .contain2{
    background: #0a3d62;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 
    100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

    width: 49.5%;
    min-height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:50%;
}

#namkun .contain3{
    width:50%;
    background: linear-gradient(57deg,#00C6A7,#1E4D92);
    height: 300px;
    position: relative;
    box-shadow: 6px 5px 7px #1f2a9bd8;
    overflow: hidden;
}
#namkun .contain3 span:nth-child(1){
    background: linear-gradient(to right,transparent,#0f24f9);
    width: 100%;
    height: 5px;
    display: block;
    position: absolute;
    top:0;
    left: 0;
    animation: show1 2s linear infinite;
    
}
#namkun .contain3 span:nth-child(3){
    background: linear-gradient(to top,#0f24f9,transparent);
    width: 5px;
    height: 100%;
    display: block;
    position: absolute;
    top:0;
    right: 0;
    animation: show3 2s linear infinite;
    animation-delay: 1s;
    
}
#namkun .contain3 span:nth-child(2){
    background: linear-gradient(to right,#0f24f9,transparent);
    width: 100%;
    height: 5px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: show2 2s linear infinite;
    
}

#namkun .contain3 span:nth-child(4){
    background: linear-gradient(to bottom,#0f24f9,transparent);
    width: 5px;
    height: 100%;
    display: block;
    position: absolute;
    top:0;
    left: 0;
    animation: show4 2s linear infinite;
    animation-delay: 1s;
    
}
#namkun .contain3 .card1{
    width: 60%;
    height: 40%;
    padding: 20px 20px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 20%;
    transition: 2s;
    opacity: 0;
}
#namkun .contain3:hover .card1{
    left: 0;
    opacity: 1;
}
#namkun .contain3 .card1 a{
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    padding: 10px 10px ;
    margin-top: 10px;
    border-radius: 20px;
}
#namkun .contain3:before{
    content: ' ';
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    background: linear-gradient(57deg,#1ECBF4,#2ed573);
    clip-path: circle(25% at 50% 50%);
    transition: 2s;
}
#namkun .contain3:hover::before{
    clip-path: circle(100% at 50% 50%);
}
#namkun .contain3 img{
    position: absolute;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 2s;
}
#namkun .contain3:hover img{
    transform: scale(1.5);
    top:35%;
    left:40%;
}
#namkun .contain4{
    background: #0a3d62;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 
    100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

    width: 49.5%;
    min-height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left:25%;
}

#namkun .contain5{
    width:50%;
    background: linear-gradient(57deg,#00C6A7,#1E4D92);
    height: 300px;
    position: relative;
    box-shadow: 6px 5px 7px #1f2a9bd8;
    overflow: hidden;
}
#namkun .contain5 span:nth-child(1){
    background: linear-gradient(to left,#0f24f9,transparent);
    width: 100%;
    height: 5px;
    display: block;
    position: absolute;
    top:0;
    left: 0;
    animation: show1 2s linear infinite;
    
}
#namkun .contain5 span:nth-child(3){
    background: linear-gradient(to top,#0f24f9,transparent);
    width: 5px;
    height: 100%;
    display: block;
    position: absolute;
    top:0;
    right: 0;
    animation: show3 2s linear infinite;
    animation-delay: 1s;
    
}
#namkun .contain5 span:nth-child(2){
    background: linear-gradient(to right,#0f24f9,transparent);
    width: 100%;
    height: 5px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: show2 2s linear infinite;
    
}

#namkun .contain5 span:nth-child(4){
    background: linear-gradient(to bottom,#0f24f9,transparent);
    width: 5px;
    height: 100%;
    display: block;
    position: absolute;
    top:0;
    left: 0;
    animation: show4 2s linear infinite;
    animation-delay: 1s;
    
}
#namkun .contain5 .card2{
    width: 60%;
    height: 40%;
    padding: 20px 20px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 20%;
    transition: 2s;
    opacity: 0;
}
#namkun .contain5:hover .card2{
    left: 0;
    opacity: 1;
}
#namkun .contain5 .card2 a{
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    padding: 10px 10px ;
    margin-top: 10px;
    border-radius: 20px;
}
#namkun .contain5:before{
    content: ' ';
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    background: linear-gradient(57deg,#1ECBF4,#2ed573);
    clip-path: circle(25% at 50% 50%);
    transition: 2s;
}
#namkun .contain5:hover::before{
    clip-path: circle(100% at 50% 50%);
}
#namkun .contain5 img{
    position: absolute;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 2s;
}
#namkun .contain5:hover img{
    transform: scale(1.5);
    top:35%;
    left:40%;
}


#time{
    width: 100%;
    min-height: 100vh;
    background: #19172e;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
#time .container{
    width: 50%;
    height: 250px;
    background: rgba(255,255,255,0.05);
    font-size:3em;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(10px);
    
}
#time .container h2{
    background:rgba(255, 255, 255, 0.05);
    margin: 0 10px;
    box-shadow: 0 15px 25px rgb(0 0 0,30%);
}
#time::before{
    content: ' ';
    position: absolute;
    top:10%;
    right: 20%;
    width: 20%;
    height: 40%;
    border-radius: 10px;
    background: linear-gradient(#f9d924,#ff2c24);
    animation: run 5s linear  infinite;
}
@keyframes run {
    0%,100%{
        transform: translateY(50px);
    }
    50%{
        transform: translateY(-50px);
    }
}
#time::after{
    content: ' ';
    position: absolute;
    bottom: 10%;
    left: 20%;
    width: 15%;
    height: 30%;
    border-radius: 10px;
    background: linear-gradient(#01d6ff,#0f24f9);
    animation: run1 5s linear infinite;
}
@keyframes run1 {
    0%,100%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(50px);
    }
}

#place{
    background: url(../imgs/Tai-sao-cau-Hoang-Van-Thu-Hai-Phong-khien-chi-em-me-man-5.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}
#place::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../imgs/splash2.png);
    mix-blend-mode: screen;
    background-size: cover;
    background-position: center;

}

#footer{
    display: flex;
    justify-content: space-between;
    background: #19172e;
    color: #fff;
    position: absolute;
    width: 100%;
    min-height  : 50vh;
    padding: 50px 80px;
    border-bottom: 40px solid #00a8ff; 
}
#footer .about{
    position: relative;
    width: 40%;
    padding-right: 0;
}
#footer .about p{
    margin-top: 30px;
}
#footer .about .icon{
    
    display: flex;
    list-style: none;
    
}
#footer .about  .icon a{
    color: #1ECBF4;
    background: #fff;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    margin-left: 10px;
    line-height: 50px;
    border-radius: 50px;
    margin-top: 30px;
}

#footer .info{
    width: 25%;
    padding-left: 20px; 
    
}
#footer .info ul{
    
    list-style: none;
    padding-top: 10px;
   
}
#footer .info ul a{
    text-decoration: none;
    color: #fff;
    padding-left:50px ;
}
#footer .info ul li{
    padding-top: 10px;
}
#footer .contact{
    width: 35%;
    padding-right: 20px;
    
}
#footer .contact h2{
    padding-bottom: 20px;
}
/* #footer::before{
    content: '';
    background: #00a8ff ;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
} */

@media screen and (max-width: 600px) {
    #namkun {
        min-height: 149vh;
    }
    #namkun .contain1{
        width: 100%;
    }
    #namkun .contain2{
        width: 100%;
        left: 0%;
        top:33.5%;
    }
    #namkun .contain4{
        width: 100%;
        left: 0%;
        top:67%;
    }
    #namkun .contain1{
        clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
    }
    #namkun .contain2{
        clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
    }
    #namkun .contain4{
        clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
    }
    #namkun .contain{
        width: 85%;
    }
    #namkun .contain3{
        width: 85%;
    }
    #namkun .contain5{
        width: 85%;
    }
    #namkun .contain .card{
        width: 100%;
        
    }
    #namkun .contain:hover img{
        top:52%;
        left: 39%;
        width: 150px;
    }
    #namkun .contain3 .card1{
        width: 110%;
        
    }
    #namkun .contain3:hover img{
        top:50%;
        left: 28%;
        width: 150px;
    }
    #namkun .contain5 .card2{
        width: 100%;
        
    }
    #namkun .contain5:hover img{
        top:52%;
        left: 27%;
        width: 150px;
    }   
    #footer{
        flex-direction: column;
    }
    #footer .about{
        width: 100%;
        margin-top: 15px 0;
    }
    #footer .info{
        width: 100%;
        margin-top: 15px 0;
    }
    #footer .contact{
        width: 100%;
        margin-top: 15px 0;
    }
    #head .contain{
        flex-direction: column;
    }
    #head .contain .textBox{
        width: 100%;
        padding: 0px;
    }
    #head .contain .slide{
        width: 100%;
    }
    #head .social_icon{
        top:93.5%;
    }
    #head header ul li a{
        font-size: 20px;
        margin-left: 20px;
    }
    #time .container{
        width: 80%;
        height: 150px;
    }
    #time::before{
        width: 27%;
        height: 30%;
        }
     #time::after{
            width: 22%;
            height: 22%;
    }
    #footer .info{
        margin-top: 22px;
        padding-left: 0px;
    }
    #footer .contact{
        margin-top: 22px;
    }
}
@media screen and (max-width:500px) {
    #head header ul{
        flex-direction: column ;
    }
    #head header .abc{
        background: rgba(104, 64, 64, 0);
        
    }
}
@media screen and (max-width:800px){
    #time::before{
    width: 34%;
    height: 28%;
    }
    #time::after{
        width: 27%;
        height: 21%;
        bottom: 15%;
    }
}