*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.back img:nth-child(1){
    position: absolute;
    width: 100%;
    height: 100vh;
    animation: back 8s linear infinite;
}
@keyframes back {
    0%{
        filter: brightness(80%);
    }
    50%{
        filter: brightness(120%);
    }
    70%{
        filter: brightness(90%);
    }
    100%{
        filter: brightness(130%);
    }
    
}
.tuanloc img:nth-child(1){
    height: 150px;
    position: absolute;
    top:40%;
    left: -20%;
    transform: rotate(12deg);
    animation: tuanloc 8s linear infinite;
}
@keyframes tuanloc {
    35%{
        height: 250px;
        top:4%;
        left: 19%;
    }
    100%{
        height: 100px;
        top:35%;
        left: 120%;
    }

}

.moon img:nth-child(1){
    height: 180px;
    position: absolute;
    top: 10%;
    left: 25%;
    animation: moon 8s linear infinite;
}
@keyframes moon {
    30%{
        filter: brightness(150%);
    }
    50%{
        filter: brightness(100%);
    }
    70%{
        filter: brightness(150%);
    }
    100%{
        filter: brightness(110%);
    }
    
}
.moon img:nth-child(2){
    width: 140%;
    height: 600px;
    position: absolute;
    top:-2%;
    left:-20% ;
    animation:may 20s linear alternate infinite ;
}
@keyframes may {
    100%{
        top:-4%;
        left: 0%;

    }    
}


.snow img:nth-child(1){
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 10%;
}
.tree img:nth-child(1){
    height: 100px;
    position: absolute;
    top:65%;
    left:51%;
    transform: rotate(-15deg);
}
.house img:nth-child(2){
    height: 400px;
    position: absolute;
    top:32%;
    left: 54%;
}
.house img:nth-child(1){
    
    height: 300px;
    position: absolute;
    top:-1%;
    left:62%;
    
}
.house img:nth-child(3){
    height: 200px;
    position: absolute;
    top:48%;
    left:54.3%;
    animation: nha 2s linear alternate infinite;
}
.house img:nth-child(4){
    height: 55px;
    position: absolute;
    top:75%;
    left:80%;
    border: none;
}
.house img:nth-child(5){
    height: 30px;
    position: absolute;
    top:98%;
    left:83.3%;
    border: none;
}
    
@keyframes nha {
    0%{
        filter: brightness(100%);
    }
    50%{
        filter: brightness(200%);
    }
    70%{

    }
    100%{
        filter: brightness(100%);
    }
}
.tree1 img:nth-child(1){
    height: 400px;
    position: absolute;
    top:33%;
    left:3%;
    animation: cay 8s linear infinite;
}
@keyframes cay {
    0%{
        filter: brightness(100%);
    }
    30%{
        filter: brightness(120%);
    }
    50%{
        filter: brightness(140%);
    }
    70%{
        filter: brightness(120%);    
    }
    100%{
        filter: brightness(100%);
    }
}
/* .tree2 img:nth-child(2){
    height: 80px;
    position: absolute;
    top:62%;
    left: 11%;
} */
.tree2 img:nth-child(1){
    height: 80px;
    position: absolute;
    top:62%;
    left: 0%;
    transform: rotate(5deg);
} 
.duong img:nth-child(1){
    width: 30%;
    height: 150px;
    position: absolute;
    top:81%;
    left:50%;
    
}
.homthu img:nth-child(1){
    height: 100px;
    position: absolute;
    top:85%;
    left: 76%;
}
.den img:nth-child(1){
    height: 110px;
    position: absolute;
    top:87%;
    left: 68.8%;
    
    animation: den1 2s linear alternate infinite;
}
@keyframes den1 {
    0%{
        filter: brightness(80%);
    }
    30%{
        filter: brightness(130%);
    }
    50%{
        filter: brightness(150%);
    }
    70%{
        filter: brightness(130%);
    }
    100%{
        filter: brightness(80%);
    }
}
.den img:nth-child(2){
    height: 100px;
    position: absolute;
    top:86%;
    left: 83%;
    animation: den2 2s linear alternate infinite;
}
@keyframes den2 {
    0%{
        filter: brightness(80%);
    }
    30%{
        filter: brightness(130%);
    }
    50%{
        filter: brightness(150%);
    }
    70%{
        filter: brightness(130%);
    }
    100%{
        filter: brightness(80%);
    }
}
.nguoi img:nth-child(1){
    height: 40px;
    position: absolute;
    top: 83%;
    left: 28%;
}
.nguoi img:nth-child(2){
    height: 150px;
    position: absolute;
    top: 70%;
    left: 25%;
}
.nguoi img:nth-child(3){
    height: 130px;
    position: absolute;
    top: 73%;
    left: 39%;
}
.nguoi img:nth-child(4){
    height: 120px;
    position: absolute;
    top: 67%;
    left: 35%;
}
.beplua img:nth-child(1){
    height: 100px;
    position: absolute;
    top:80%;
    left: 33%;
}
.beplua img:nth-child(2){
    height: 35px;
    position: absolute;
    top:83%;
    left: 35.5%;
    animation: lua 4s linear alternate infinite;
}
@keyframes lua {
    30%{
        filter: brightness(200%);
    }
    50%{
        filter: brightness(130%);
    }
    70%{
        filter: brightness(200%);
    }
    100%{
        filter: brightness(130%);
    }
}
.nguoituyet img:nth-child(1){
    height: 120px;
    position: absolute;
    top:69%;
    left:5%;
    animation: tuyet1 .5s linear alternate infinite;
}
@keyframes tuyet1 {
    100%{
        transform: translateY(2px);
    }
    
}

.nguoituyet img:nth-child(2){
    height: 120px;
    position: absolute;
    top:70%;
    left: 18%;
    animation: tuyet2 .5s linear alternate infinite;
}
@keyframes tuyet2 {
    100%{
        transform: translatex(2px);
    }
    
}
.cho{
    background: url(../imgs/halloween/cho2.png);
    position: absolute;
    top:90%;
    width: 61px;
    height: 52px;
    animation: show 1s steps(10) infinite,walk 8s linear infinite;
    overflow: none;
}
@keyframes walk {
    0%{
        transform: translateX(-20px);
    }
    100%{
        transform: translateX(1600px);
    }
}
@keyframes show {
    0%{
        background-position: 605px 62px;
    }
    100%{
        background-position: 5px 63px;
    }

}
.snow1 img:nth-child(1){
    width: 65%;
    height:100vh;
    position: absolute;
    left: -2%;
    animation: snow_1 20s linear  infinite    ;
}
@keyframes snow_1 {
    0%{
        transform: translate3d(0,-170%,0);
    }
    100%{
        transform: translate3d(0%,5%,0);
    }
}
.snow1 img:nth-child(2){
    width: 65%;
    height:100vh;
    position: absolute;
    left: -2%;
    animation: snow_1 15s linear  infinite    ;
}
@keyframes snow_1 {
    0%{
        transform: translate3d(0,-170%,0);
    }
    100%{
        transform: translate3d(0,5%,0);
    }
}
.snow1 img:nth-child(3){
    width: 65%;
    height:100vh;
    position: absolute;
    left: -2%;
    animation: snow_1 30s linear infinite    ;
}
@keyframes snow_1 {
    0%{
        transform: translate3d(0,-170%,0);
    }
    100%{
        transform: translate3d(0,5%,0);
    }
}
.snow1 img:nth-child(4){
    width: 65%;
    height:100vh;
    position: absolute;
    left:57%;
    animation: snow_1 20s linear  infinite    ;
}
@keyframes snow_1 {
    0%{
        transform: translate3d(0,-170%,0);
    }
    100%{
        transform: translate3d(0,5%,0);
    }
}
.snow1 img:nth-child(5){
    width: 65%;
    height:100vh;
    position: absolute;
    left:57%;
    animation: snow_1 15s  linear  infinite    ;
}
@keyframes snow_1 {
    0%{
        transform: translate3d(0,-170%,0);
    }
    100%{
        transform: translate3d(0,5%,0);
    }
}
.snow1 img:nth-child(6){
    width: 65%;
    height:100vh;
    position: absolute;
    left:57%;
    animation: snow_1 30s linear infinite    ;
}
@keyframes snow_1 {
    0%{
        transform: translate3d(0,-170%,0);
    }
    100%{
        transform: translate3d(0,5%,0);
    }
}

