*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(../imgs/1ftpb86y_1920x1080-rapviet-2.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.container{
    width: 350px;
    height: 420px;
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px 40px 70px 40px;
    overflow: hidden;
}
form{
    text-align: center;
}
input[type="Email"],input[type="password"]{
    padding: 10px 10px;
    font-size: 19px;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    border-bottom: 1px solid #fff ;
    margin-bottom: 20px;
    margin-top: 10px;
}
input[type='submit']{
    padding: 10px 20px;
    width: 80%;
    font-size: 23px;
    color:#000000;
    background:#fff;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
    transition: .5s;
}
input[type='submit']:hover{
    background: linear-gradient(45deg,#444444 ,#66FF33,#66CC00,#333333);
}
h1{    
    margin-bottom: 10px;
    text-align: center;
    color:#99FF66;
    /* font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Zen Kurenaido', sans-serif; */
    font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Zen Kurenaido', sans-serif;

}
a{  
    position: absolute;
    margin-top: 20px;
    color: #fff;
    text-align: center;
}
