*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.header{
	  background: rgba(27,39,61,.95);
	 /* #273c75*/
}
.header .navbar{
	background:rgba(27,39,61,.95) !important;
}
.header .navbar ul li a{
	color:#fff !important;
	opacity: .8;
	font-size:16px;
	text-transform: uppercase;
	letter-spacing: 0.06rem;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .active>.nav-link,
 .navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .show>.nav-link {
  	color:#554bb9  !important;
	opacity: 1;
  }
 .buy{
	   background: #e0e721;
    color: #4a25aa;
    font-size: 17px;
    font-weight: 500;
    border:none;
    padding:10px 30px;
    outline: none;
    border-radius: 5px;
    transition: all .2s linear;
}
 .buy:hover{
	color:#fff;
	border-radius: 20px;
	z-index: 1;
}
.buy:focus{
	outline:none;
}
.header .navbar-toggler{
    background:#554bb9!important;
    border:none;
    outline: none;
    transition:all .2s linear;
}
.header .navbar-toggler:focus{
	border-radius: 20px;
}
#banner{
	background: url('../images/banner.gif');
	background-position: center;
	background-size: cover;
	max-height: 100vh;
	padding:200px 60px;
	color:#fff;
}
#banner .contain{
	display: flex;
	flex-wrap: wrap;
	height: auto;
	justify-content: center;
	flex-direction: row;
}
#banner .contain .time{
	width:calc(100% / 4);
	text-align: center;
}
#banner .contain .time p:nth-child(1){
	font-size: 150px;
	font-weight: 900;
	font-family: 'Playfair Display', serif;
	line-height: 100px;
}
@media (max-width: 767px){
	#banner .contain .time p:nth-child(1){
	    font-size:50px;
	    line-height: 20px;
	}
}
#about{
	padding:4rem 20px;
}
#about .hello{
	color:#1b273d;
	font-weight: 900;
	    font-family: Bevan, Poppins,sans-serif;
}
#about .chaomung{
	color:#ec398b;
	    font-family: Oswald,sans-serif;
}
#about .gioithieu{
	color: rgba(50,51,51,.8);
	font-family: Poppins,sans-serif;
}
#about .show{
	display: flex;
	justify-content: center;
	line-height: 25px;
	align-items: center;
}
#about .show h1{
	color:#554bb9;
	width:110px;
	height:110px;
	border:8px solid #ddd;
	text-align: right;
	border-radius: 16px;
	line-height: 100px;
	font-family: Oswald,sans-serif;
	font-weight: 700;
	font-size: 50px;
}
#about .show .right{
	text-align: left;
	margin-left: 10px;
}
#about .show .right span:nth-child(1){
	color:#1b273d;
	font-weight: 700;
	font-size: 13px;
}    
#about .show .right span:nth-child(2){
	color:rgba(50,51,51,.8);
}
.footer{
	background: url('../images/footer-bg.jpg');
	background-position: center;
	background-size: cover;
	color:#fff;
}
.footer-inner{
	    background: rgba(85,75,185,.95);
}

.footer .box{
	padding:0 15px;
	margin-top: 10px;
}
.footer .title{
	font-weight: 700;
	font-size: 1rem;
	letter-spacing: .005rem;
}
.footer .time{
	color:#efa506;
	font-size: 13px;
	font-weight: 400;
}
.footer .address{
	color:inherit;
	font-size: 15px;
	opacity: .8;
}
.footer .icon a{
	width:45px;
	height: 45px;
	border-radius: 50%;
	background: #fff;
	opacity: .7;
	display: inline-block;
	text-align: center;
	line-height: 45px;
}
.footer .icon a:hover{
	background:#f39c12;
}
.footer .icon a i{
	font-size: 20px;
}
.footer .last{
	padding-top:30px;
	border-top: 1px solid #fff;
	text-align: center;
	margin-top: 30px;
}
.footer .last p{
color: #efa506;
text-transform: uppercase;
}
@media (max-width: 480px){
    .footer .box{
     text-align: center;
   	 overflow: hidden;
   	 margin-bottom: 2rem;
    }  

#demo .img img{
	height: 110px;
}
}
#product {
  background: #554bb9;
  padding:40px 0;
}
#product .dau{
	padding:40px 10px;
	overflow: hidden;
	margin:10px 0;
	transition: all .5s linear;
}
#product .dau:before{
	background: url('../images/dots2.png');
	position: absolute;
	transform: translate(-90%,60%)  rotate(45deg);
	content: '';
	width:100%;
	height: 100%;
	pointer-events: none;
	z-index:-1;

}
#product .dau .name{
	font-size: 22px;
	font-weight: 700;
	color:#fff;
	text-transform: uppercase;
	margin:20px 0;
}
#product .dau .name:hover{
	color:#554bb9;
}
#product .dau .price{
	color:#efa506;
	font-size: 25px;
	font-weight: 900;
}
#product .dau:hover{
	background: #fff;
}
#product .dau:hover .name{
	color:#554bb9;
}
#product .sold{
	background: #ec398b;
	color:#fff;
}
#product .sold:hover{
	background: #e0e721;
    color: #4a25aa;
}
#product .dau:hover .innerDau{
	animation: show .5s linear;
}
@keyframes show{
	0%{
		transform: translateY(110%);
	}
	100%{
		transform: translateY(0%);
	}
}
#demo .img{
	display: flex;
}
#demo .img img{
	width:calc(100% / 3);
}
#demo .heading{
	font-weight: 900;
	font-size: 50px;
	color:#fff;
}
#demo {
 background: rgba(27,39,61,.7);
 padding:50px;
}
#listSinger{
	background: url('../images/bg.jpg');
	background-position: center;
	background-size: cover;
}
.carousel-indicators li{
	height: 10px;
	width:10px;
	border-radius: 50%;
}
#demo{
	height: auto;
}
.product {
     background: #554bb9;
}
.product .dau{
	overflow: hidden;
	z-index: 1000;
}

.product .dau:hover{
	background: #fff;
	
}
.product .dau:hover .inner{
	animation:show .5s linear;
}
@keyframes show {
	0%{
		transform: translateY(110%);
	}
	100%{
		transform: translateY(0%);
	}
}
.product .dau:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('../images/dots2.png');
	transform: rotate(45deg) translate(50%,60%);
	z-index: -1;
}

@media (max-width: 480px){
    .footer .box{
     text-align: center;
   	 overflow: hidden;
   	 margin-bottom: 2rem;
    }  
    .navbar-brand img{
    	height: 50px ;
    }

}
.navbar-dark .navbar-nav .nav-link:hover, 
.navbar-dark .navbar-nav .active>.nav-link, 
.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .show>.nav-link{
	color:red;
}